<form class="{{cssClass}} {{actor.type}} debilus-sheet {{gameSetting}}" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">

    <div class="level">
      <input class="value" name="system.attributes.level.value" type="text" value="{{system.attributes.level.value}}" data-dtype="Number" />
    </div>

    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="100" />
    
    <div class="header-fields">

      <div class="name-and-level">
        <div class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></div>
      </div>

      <div class="caracs attributes">
        <div>
          <div class="progress-container pv">
              <img class="icon" src="systems/debilus/assets/{{gameSetting}}/pv.svg" />
              <span class="max">Max : {{system.pv.max}}</span>
            <div class="val">
              <input type="text" name="system.pv.value" value="{{system.pv.value}}" data-dtype="Number"/>
            </div>
            <svg class="progress-ring" width="70" height="70">
              <circle class="progress-ring__circle-background" stroke="#ccc" stroke-width="16" fill="transparent" r="27" cx="35" cy="35"/>
              <circle class="progress-ring__circle" stroke="#911e1e" stroke-width="16" fill="transparent" r="27" cx="35" cy="35"
                style="stroke-dashoffset: {{system.pv.percents}};"
                />
            </svg>
          </div>
        </div>
        <div class="carac defense" style="height: 70px;">
          <img src="systems/debilus/assets/{{gameSetting}}/defense.svg" title="Défense" />
          <span class="defense-value">{{system.attributes.defense.value}}</span>
        </div>
        <div>
          <div class="progress-container">
            <img class="icon" src="systems/debilus/assets/{{gameSetting}}/actions.svg" />
            <span class="max">Max : {{system.attributes.actions.max}}</span>
            <div class="val">
              <input type="text" name="system.attributes.actions.value" value="{{system.attributes.actions.value}}" data-dtype="Number"/>
            </div>
            <svg class="progress-ring" width="70" height="70">
              <circle class="progress-ring__circle-background" stroke="#ccc" stroke-width="15" fill="transparent" r="27" cx="35" cy="35"/>
              <circle class="progress-ring__circle" stroke="#0c7d81" stroke-width="15" fill="transparent" r="27" cx="35" cy="35"
                style="stroke-dashoffset: {{system.attributes.actions.percents}};"
                />
            </svg>
          </div>
        </div>
      </div>
        
  </header>

  <div class="caracs">
    {{#each system.abilities as |ability key|}}
      <div class="carac">
        <img 
          src="systems/debilus/assets/{{../gameSetting}}/{{key}}.svg" 
          for="system.abilities.{{key}}.value" 
          class="rollable"
          title="{{localize (concat ../gameSetting ".ability." key)}}""
          data-roll="{{ability.value}}" 
          data-key="{{key}}"
          data-label="{{ability.label}}" 
          data-type="ability"
          data-img="systems/debilus/assets/{{../gameSetting}}/{{key}}.svg"
        />
        <input class="value" type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number" />
      </div>
    {{/each}}
  </div>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Aptitudes Tab --}}
    <div class="tab aptitudes" data-group="primary" data-tab="aptitudes">
      {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in
      module/helpers/templates.mjs --}}
      {{> "systems/debilus/templates/actor/parts/actor-aptitudes.hbs"}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="biography">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to
      the rollData property. --}}
      {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{> "systems/debilus/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Owned Competences Tab --}}
    <div class="tab competences" data-group="primary" data-tab="competences">
      {{> "systems/debilus/templates/actor/parts/actor-competences.hbs"}}
    </div>

  </section>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="aptitudes">Aptitudes</a>
    <a class="item" data-tab="competences">Compétences</a>
    <a class="item" data-tab="items">Inventaire</a>
    <a class="item" data-tab="biography">Biographie</a>
  </nav>

</form>