<form class="{{cssClass}} {{actor.type}}" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">

    <div class="level">
      <input class="value" name="system.attributes.level.value" type="text" value="{{system.attributes.level.value}}" data-dtype="Number" />
    </div>

    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="100" />
    
    <div class="header-fields">


      <div class="name-and-level">
        <div class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></div>
      </div>

      <div class="bars">

        <div class="wrapper">
          <img class="icon" src="systems/debilus/assets/pv.svg" />
          <div class="bar">
            <input type="text" name="system.pv.value" value="{{system.pv.value}}" data-dtype="Number" />
            <div class="current pv" style="width: {{system.pv.percents}}%"></div>
            <span class="max" type="text" name="system.pv.max">Max : {{system.pv.max}}</span>
          </div>
        </div>
        <div class="bars">

          <div class="wrapper">
            <img class="icon" src="systems/debilus/assets/pm.svg" />
            <div class="bar">
              <input type="text" name="system.pm.value" value="{{system.pm.value}}" data-dtype="Number" />
              <div class="current pm" style="width: {{system.pm.percents}}%"></div>
              <span class="max" type="text" name="system.pm.max">Max : {{system.pm.max}}</span>
            </div>
          </div>

        </div>
  </header>

  <div class="caracs">
    {{#each system.abilities as |ability key|}}
    <div class="carac">
      <img src="systems/debilus/assets/{{key}}.svg" for="system.abilities.{{key}}.value" class="rollable"
        title="{{ability.label}}" data-roll="d20+@abilities.{{key}}.value" data-label="{{ability.label}}" />
      <input class="value" type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}"
        data-dtype="Number" />
    </div>
    {{/each}}
  </div>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="aptitudes">Aptitudes</a>
    <a class="item" data-tab="items">Inventaire</a>
    <a class="item" data-tab="competences">Compétences</a>
    <a class="item" data-tab="biography">Biographie</a>
    <a class="item" data-tab="effects">Passifs</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Aptitudes Tab --}}
    <div class="tab aptitudes" data-group="primary" data-tab="aptitudes">
      {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in
      module/helpers/templates.mjs --}}
      {{> "systems/debilus/templates/actor/parts/actor-aptitudes.hbs"}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="biography">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to
      the rollData property. --}}
      {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{> "systems/debilus/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Owned Competences Tab --}}
    <div class="tab competences" data-group="primary" data-tab="competences">
      {{> "systems/debilus/templates/actor/parts/actor-competences.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/debilus/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>

</form>