<form class="{{cssClass}} debilus-shet" autocomplete="off">

  <header class="sheet-header" style="align-items: start;">

    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="150" width="100" style="margin: 0;" />

    <div class="header-fields">

        <div class="itemname">
          <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
        </div>

      <div class="choices">

        <div class="choice-block">
          <label class="type-label">Qté</label>
          <input name="system.quantity" type="text" value="{{system.quantity}}" placeholder="Qté" data-dtype="Number" />
        </div>

        <div class="choice-block">
          <label class="actions-label">Actions</label>
          <input name="system.actions" type="text" value="{{system.actions}}" placeholder="Actions" data-dtype="Number" />
        </div>

        <div class="choice-block">
          <label class="resource-label">Jet</label>
          <select name="system.rollType" data-dtype="String">
            {{#select system.rollType}}
              <option value="none">Aucun</option>
              <option value="ability">Caractéristique</option>
              <option value="aptitude">Aptitude</option>
            {{/select}}
          </select>
        </div>

        {{#if (eq system.rollType "ability")}}
          <div class="choice-block">
            <label class="ability-label">Carac.</label>
            <select name="system.rollAbility" data-dtype="String">
              {{#select system.rollAbility}}
                <option value="force">Force</option>
                <option value="agilite">Agilité</option>
                <option value="corps">Corps</option>
                <option value="esprit">Esprit</option>
                <option value="charisme">Charisme</option>
              {{/select}}
            </select>
          </div>
        {{/if}}

        {{#if (eq system.rollType "aptitude")}}
          <div class="choice-block">
            <label class="aptitude-label">Aptitude</label>
            <select name="system.rollAptitude" data-dtype="String">
              {{#select system.rollAptitude}}
                <option value="esquive">Esquive</option>
                <option value="melee">Mélée</option>
                <option value="tir">Tir</option>
                <option value="furtivite">Furtivité</option>
                <option value="perception">Perception</option>
                <option value="savoir">Savoir</option>
                <option value="social">Social</option>
                <option value="magie">Magie</option>
              {{/select}}
            </select>
          </div>
        {{/if}}

        <div class="choice-block">
          <label class="valueType-label">Type</label>
          </select>
          <select name="system.valueType" data-dtype="String">
            {{#select system.valueType}}
              <option value="none">Aucun</option>
              <option value="damage">Dégâts</option>
              <option value="heal">Soins</option>
            {{/select}}
          </select>
        </div>

        {{#if (eq system.valueType "damage")}}
          <div class="choice-block">
            <label class="value-label">Valeur</label>
            <input name="system.value" type="text" value="{{system.value}}" placeholder="Valeur" data-dtype="Number" />
          </div>
        {{/if}}

        {{#if (eq system.valueType "heal")}}
          <div class="choice-block">
            <label class="value-label">Valeur</label>
            <input name="system.value" type="text" value="{{system.value}}" placeholder="Valeur" data-dtype="Number" />
          </div>
        {{/if}}

    </div>
  </header>
  {{!-- Sheet Body --}}
  <section class="itemdesc">
    {{!-- <textarea name="system.description" data-dtype="String">{{system.description}}</textarea> --}}
    {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
  </section>

</form>
